APP_URL = https://app.painelswim.com/
# Generate using `openssl rand -base64 32` – Make sure to update this value right here
NEXTAUTH_SECRET = NArBDTMHof0EGTx66MFpwk3KRHMNTeUfxvLhbYv14eY=

# Database Configuration
DATABASE_URL = postgresql://postgres:wHKmR6zOqFoJNnO7@db.unhqpqblocjipuyksldq.supabase.co:5432/postgres
# SHADOW_DATABASE_URL = # Use only for cloud DBs (ie. Heroku)

# Supabase Configuration
SUPABASE_URL = https://unhqpqblocjipuyksldq.supabase.co
SUPABASE_ANON_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVuaHFwcWJsb2NqaXB1eWtzbGRxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjUzODE2ODgsImV4cCI6MjA4MDk1NzY4OH0.XZjzJ7adBWTp8yKINW-DN5xs1U3xrHfIX2rHCV1twz8
SUPABASE_PUBLISHABLE_KEY = sb_publishable_QBJjDjt9HVM-82nxo-CrgA___EGW3ly
# SUPABASE_SERVICE_ROLE_KEY = # Keep server role key secure
# SUPABASE_JWT_SECRET = # Copy from Supabase project's JWT settings

# Email Configuration
# EMAIL_FROM = # Email address
# EMAIL_SERVER_USER = # Username
# EMAIL_SERVER_PASSWORD = # Password
# EMAIL_SERVICE = # Nodemailer well-known services – https://nodemailer.com/smtp/well-known/

# Payments Configuration (Stripe)
# NEXT_PUBLIC_PUBLISHABLE_KEY = # Get from payment service provider - client side
# PAYMENTS_SECRET_KEY = # Get from payment service provider - server side
# PAYMENTS_SIGNING_SECRET = # Get from payment service provider - webhooks

# Google Analytics
# NEXT_PUBLIC_GOOGLE_ANALYTICS_ID = # Get from Google Analytics - Universal Analytics `UA-XXXXXXXXX-X`

# Vercel API
NEXT_PUBLIC_VERCEL_IP_ADDRESS = 76.76.21.21
VERCEL_API_URL = https://api.vercel.com
# VERCEL_PROJECT_ID = # Get from Vercel project page
# VERCEL_TEAM_ID = # Get from Vercel team page (If deploying from a team)
# VERCEL_AUTH_BEARER_TOKEN = # Get from Vercel personal account settings, tokens page

# Seed Values
ADMIN_EMAIL = admin@nextacular.com